dist: xenial

language: cpp
compiler:
    - gcc

jobs:
    include:
        - name: "build"
          script: ./build.sh --skip-tests
          addons:
            apt:
              packages:
                - cmake-data
                - cmake
        - name: "test"
          sudo: required
          script: ./build.sh && ./build/test/mandelbrot_test
